.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9fafb;
}

.register-card {
  background: white;
  padding: 40px 35px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 380px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.04);
  text-align: center;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.subtitle {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 25px;
}

label {
  display: block;
  text-align: left;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 0.95rem;
}

input:focus,
select:focus {
  outline: none;
  border-color: #000;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #7d64c3;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background-color: #333;
}

.error {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.success {
  color: green;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.footer-text {
  margin-top: 15px;
  font-size: 0.85rem;
  color: #666;
}
